In [1]:
import pandas as pd

In [2]:
campus_size = pd.read_csv('campus_size.csv')

In [3]:
campus_size = campus_size[['College or University', 'Acres']]

In [4]:
standard_names = ['Princeton University',
 'Massachusetts Institute of Technology',
 'Harvard University',
 'Stanford University',
 'Yale University',
 'California Institute of Technology',
 'Duke University',
 'Johns Hopkins University',
 'Northwestern University',
 'University of Pennsylvania',
 'Cornell University',
 'University of Chicago',
 'Brown University',
 'Columbia University',
 'Dartmouth College',
 'University of California, Los Angeles',
 'University of California, Berkeley',
 'Rice University',
 'University of Notre Dame',
 'Vanderbilt University',
 'Carnegie Mellon University',
 'University of Michigan, Ann Arbor',
 'Washington University in St Louis',
 'Emory University',
 'Georgetown University',
 'University of Virginia-Main Campus',
 'University of North Carolina at Chapel Hill',
 'University of Southern California',
 'University of California, San Diego',
 'New York University',
 'University of Florida',
 'The University of Texas at Austin',
 'Georgia Institute of Technology-Main Campus',
 'University of California, Davis',
 'University of California, Irvine',
 'University of Illinois Urbana-Champaign',
 'Boston College',
 'Tufts University',
 'University of California, Santa Barbara',
 'University of Wisconsin, Madison',
 'Boston University',
 'Ohio State University-Main Campus',
 'Rutgers University, New Brunswick',
 'University of Maryland, College Park',
 'University of Rochester',
 'Lehigh University',
 'Purdue University-Main Campus',
 'University of Georgia',
 'University of Washington-Seattle Campus',
 'Wake Forest University']

In [5]:
standard_names = [standard_names[i].replace(", ", "-") for i in range(0, len(standard_names))]

In [6]:
campus_size = campus_size[campus_size['College or University'].isin(standard_names)]
campus_size['Acres'] = campus_size['Acres'].str.replace(',', '').astype(float)
columbia_entry = {'College or University': 'Columbia University', 'Acres': 36.0}
campus_size = campus_size.append(columbia_entry, ignore_index=True)

In [7]:
campus_size.to_csv('campus_data.csv', index=False)

In [8]:
campus_size

                          College or University   Acres
0                               Duke University  8693.0
1                           Stanford University  8180.0
2       University of Illinois Urbana-Champaign  6370.0
3                University of California-Davis  5300.0
4              University of Michigan-Ann Arbor  3070.0
5              Rutgers University-New Brunswick  2600.0
6                 Purdue University-Main Campus  2500.0
7                             Lehigh University  2355.0
8                            Cornell University  2300.0
9                         University of Florida  2000.0
10           University of Virginia-Main Campus  2000.0
11            Ohio State University-Main Campus  1700.0
12              University of California-Irvine  1475.0
13          University of Maryland-College Park  1347.0
14                     University of Notre Dame  1250.0
15            University of California-Berkeley  1232.0
16           University of California-San Diego  1200.0
17                              Yale University  1108.0
18       University of California-Santa Barbara   989.0
19              University of Wisconsin-Madison   939.0
20                        University of Georgia   760.0
21                             Tufts University   750.0
22                      University of Rochester   707.0
23      University of Washington-Seattle Campus   700.0
24                             Emory University   600.0
25                         Princeton University   600.0
26            The University of Texas at Austin   431.0
27         University of California-Los Angeles   419.0
28  Georgia Institute of Technology-Main Campus   400.0
29                        Vanderbilt University   340.0
30                       Wake Forest University   340.0
31                              Rice University   300.0
32                   University of Pennsylvania   299.0
33                            Dartmouth College   269.0
34  University of North Carolina at Chapel Hill   250.0
35                      Northwestern University   242.8
36                               Boston College   240.0
37                          New York University   230.0
38            University of Southern California   226.0
39                        University of Chicago   217.0
40                           Harvard University   209.0
41            Washington University in St Louis   169.0
42        Massachusetts Institute of Technology   168.0
43                   Carnegie Mellon University   150.0
44                             Brown University   146.0
45                            Boston University   140.0
46                     Johns Hopkins University   140.0
47           California Institute of Technology   124.0
48                        Georgetown University   104.0
49                          Columbia University    36.0